<template>
    <div >
    
        <Abono/>
        
    </div>
</template>



<script>
// @ is an alias to /src
import Abono from '@/components/Abonos.vue'

export default {
    name: 'Abonos',
    components: {
        Abono
    },   
}
</script>