

<!-- VENTANA INICIAL - LOGIN -->

<template>
  <div class="home">
    <Login msg="Bienvenido"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Login from '@/components/Logins.vue'

export default {
  name: 'Logins',
  components: {
    Login
  }
}
</script>


