<template>
    <div >
    
        <MiCuenta/>
        
    </div>
</template>



<script>
// @ is an alias to /src
import MiCuenta from '@/components/MiCuentas.vue'

export default {
    name: 'MiCuentas',
    components: {
        MiCuenta
    },   
}
</script>