<template>
    <div >
    
        <Principal/>
        
    </div>
</template>



<script>
// @ is an alias to /src
import Principal from '@/components/Principales.vue'

export default {
    name: 'Principales',
    components: {
        Principal
    },   
}
</script>
