<template>
    <div >
    
        <Retiro/>
        
    </div>
</template>



<script>
// @ is an alias to /src
import Retiro from '@/components/Retiros.vue'

export default {
    name: 'Retiros',
    components: {
        Retiro
    },   
}
</script>