<template>
    <div id="abono" class="mt-5">
        
                <h1>ABONO</h1>
                <h3>EN CONSTRUCCION</h3>

        <div class="row">
            <div class="col-md-3">
                <img src="https://seeklogo.net/wp-content/uploads/2013/06/visa-us-vector-logo-400x400.png" width="200" height="250">
                <b-form-radio v-model="selected" name="some-radios" value="1"></b-form-radio>
            </div>

            <div class="col-md-3">
                <img src="https://newsroom.mastercard.com/latin-america/files/2016/07/Linkedin_MC.jpg" width="200" height="250">
                <b-form-radio v-model="selected" name="some-radios" value="2"></b-form-radio>
            </div>

            <div class="col-md-3">
                <img src="https://logodownload.org/wp-content/uploads/2014/04/amex-american-express-logo-4.png" width="200" height="250">
                <b-form-radio v-model="selected" name="some-radios" value="3"></b-form-radio>
            </div>
        </div>
            <div class="row-1">
                <br>
                <p>
                    <br>
                </p>
                <label for="monto">Monto: </label>
                <b-form-input id="monto" type="number" v-model="monto"></b-form-input>
                <small>Campo Obligatorio</small>
                <p></p>


                <div align="center "> <b-button type="submit" variant="primary" @click="abonar"> Abonar </b-button> </div>
            </div>
    </div>   
</template>

<script>

export default {
    name: 'Abono',
    props: {
    },
    data(){
        return{
            monto: 0,
            selected:'',
        }
    },
    methods:{
        abonar(){
            
            if (this.monto > 0 && this.selected==1 || this.selected==2 || this.selected ==3){
                confirm("Monto abonado correctamente")
                this.monto = ''
                this.selected = ''
            }else{
                confirm("ERROR, INTENTE NUEVAMENTE")
            }
        }
    },
}
</script>