<template>
  
  <div class="hello mt-5">
    
    <div align="center">
      <img src="https://www.bet.com/apps/bet-now-shows-app/_jcr_content/image.large2x1image.dimg/__1589916049450__1579301870532/bet-logo-hp-article-hero-1200x600-011720.jpg" width="400" height="250">
    </div>
    <br>
    <h1 align="center">{{ msg }}</h1>
    <div class="mt-1">
      <br>
      <div>
        <div align="center" class="col-sm-3 col-md-9 col-xs-3">
        <form>
          <b-row>
            
          <b-col sm="4">
              <label for="nombre">Usuario: </label>
          </b-col>

            <b-col sm="8">
              
              <b-form-input id="nombre" type="text" v-model="nombre" :state="comprobar1"></b-form-input>
              <div align="left"> <small>Campo Obligatorio</small> </div>  
              <p></p>
            </b-col>
            
            <b-col sm="4">
              <label for="descripcion">Contraseña: </label>
            </b-col>

            <b-col sm="8">
              <b-form-input id="contrasena" type="password" v-model="contrasena" :state="comprobar2"></b-form-input>
              <div align="left"> <small>Campo Obligatorio</small> </div>  
              <p></p>
            </b-col>
    
          </b-row>
          
        </form>
        <br>
        
        </div>
        <div align="center "> <b-button type="submit" pill variant="dark" @click="entrar"> ENTRAR </b-button> </div>

        <br>
        <div align="center "> <b-button v-b-modal.modal-1 pill variant="dark"> REGISTRARSE</b-button> </div>

        <b-modal id="modal-1" title="Registro" hide-footer>
            
            <form>
                <b-row>
                    <b-col sm="3">
                        <label for="usuario">Usuario: </label>
                    </b-col>

                <b-col sm="9">
                    <b-form-input id="usuario" type="text" v-model="usuario" :state="comprobar3"></b-form-input>
                    <p></p>
                </b-col>
                
                <b-col sm="3">
                    <label for="correo">Correo: </label>
                </b-col>

                <b-col sm="9">
                    <b-form-input id="correo" type="text" v-model="correo" :state="comprobar4"></b-form-input>
                    <p></p>
                </b-col>

                <b-col sm="3">
                    <label for="contrasena2">Contraseña: </label>
                </b-col>

                <b-col sm="9">
                    <b-form-input id="contrasena2" type="password" v-model="contrasena2" :state="comprobar5"></b-form-input>
                    <p></p>
                </b-col>

                <b-col sm="3">
                    <label for="comprobacontra">Repita Contraseña: </label>
                </b-col>

                <b-col sm="9">
                    <b-form-input id="comprobacontra" type="password" v-model="comprobacontra" :state="comprobar6"></b-form-input>
                    <p></p>
                </b-col>

            </b-row>
        </form>
            <div align="center "> <b-button type="submit" variant="primary" @click="$bvModal.hide('modal-1')"> Aceptar </b-button> </div>
        </b-modal>
      </div>
    </div>
  </div>

</template>



<script>

export default {
  name: 'Tabla',
  props: {
    msg: String,
  },
  data(){
    return{
      nombre: '',
      contrasena: '',
      contrasena2: '1111',
      comprobacontra: '1101',
      usuarios : [],
      usuario: '',
      correo: '',
  }
  },
  methods:{
    entrar(){
      
      if(this.comprobar1===true && this.comprobar2===true){
        this.usuarios.push({
        nomb : this.nombre,
        contra : this.contrasena,
  
      });
      }
      this.nombre = ''
      this.contrasena = ''

      localStorage.setItem('base-vue', JSON.stringify(this.usuarios));

      //deberia ser la pagina principal
      this.$router.push('principal')
    },
    registrarse(){

    
    },
  },
  computed:{
    comprobar1(){
      return this.nombre === '' ? false : true 
    },
    comprobar2(){
      return this.contrasena === '' ? false : true
    },

    comprobar3(){
      return this.usuario === '' ? false : true 
      
    },

    comprobar4(){
      return this.correo === '' ? false : true 
      
    },

    comprobar5(){
      return this.contrasena2 === '1111' || this.contrasena2 === '' ? false : true 
      
    },

    comprobar6(){
      return this.comprobacontra !== this.contrasena2 || this.comprobacontra === '' ? false : true 
      
    },

  },
  created(){
    let datosDB = JSON.parse(localStorage.getItem('base-vue'));
    if(datosDB === null){
      this.usuarios =[];

    }else{
      this.usuarios = datosDB;
    }
  }
}

</script>


