<template>
    <div id="MiCuenta" class="mt-5">
        
                <h1>MiCuenta</h1>
                <h3>EN CONSTRUCCION</h3>
            <br>
            <p></p>
            <form>
                <b-row>
                    <b-col sm="3">
                        <label for="nombre">Nombre: </label>
                    </b-col>

                <b-col sm="9">
                    <b-form-input id="nombre" type="text" v-model="nombre" :state="comprobar1"></b-form-input>
                    <p></p>
                </b-col>
                
                <b-col sm="3">
                    <label for="correo">Correo: </label>
                </b-col>

                <b-col sm="9">
                    <b-form-input id="correo" type="text" v-model="correo" :state="comprobar1"></b-form-input>
                    <p></p>
                </b-col>

                <b-col sm="3">
                    <label for="contra">Contraseña: </label>
                </b-col>

                <b-col sm="9">
                    <b-form-input id="contra" type="password" v-model="contra" :state="comprobar3"></b-form-input>
                    <p></p>
                </b-col>

                <b-col sm="3">
                    <label for="tipoCuenta">Tipo de Cuenta: </label>
                </b-col>

                <b-col sm="9">
                    <b-form-input id="tipoCuenta" type="text" v-model="tipoCuenta" :state="comprobar1"></b-form-input>
                    <p></p>
                </b-col>

                <b-col sm="3">
                    <label for="nCuenta">Nº Cuenta: </label>
                </b-col>

                <b-col sm="9">
                    <b-form-input id="numeroCuenta" type="number" v-model="numeroCuenta" :state="comprobar2"></b-form-input>
                    <p></p>
                </b-col>



            </b-row>
        </form>
        <div align="center "> <b-button type="submit" variant="primary" @click="actualizar"> Actualizar </b-button> </div>


    </div>   
</template>

<script>

export default {
    name: 'MiCuenta',
    props: {
    },
    data(){
        return{
            nombre:'',
            correo:'',
            contra:'',
            tipoCuenta:'',
            nCuenta: 0,
            
        }
    },
    methods:{
        actualizar(){


        },
        computed:{

    comprobar1(){
        
    },
    comprobar2(){
    
    },
    comprobar3(){
        
    },
        }
    },
}
</script>