<template>
    <div id="principal" class="mt-3">
        
                <h1>Vista Principal</h1>
                <h3>EN CONSTRUCCION</h3>
    <p><br></p>

    <b-container class="bv-example-row" fluid>
        <b-row> 
            <b-col cols="4"> 
                <img src="https://www.bet.com/apps/bet-now-shows-app/_jcr_content/image.large2x1image.dimg/__1589916049450__1579301870532/bet-logo-hp-article-hero-1200x600-011720.jpg" width="300" height="150">
            <p></p>
            <b-row>
                <b-col md="auto">
                    <b-calendar v-model="value" @context="onContext" locale="es-US"></b-calendar>
                </b-col>
            </b-row>
            <p>

            </p>
            <br>
            <b-col>
                <p>Proximos Eventos</p>
                    <li> CHELSEA VS MANCHESTER CITY </li>
                    <p></p>
                    <li> BARCELONA VS BAYERN MUNICH </li>
                    <p></p>
                    <li> ROGER FEDERER VS RAFAEL NADAL </li>
                    <p></p>
                    <li> LIVERPOOL VS RB LEIPZIG </li>
                    <p></p>
                    <li> ALEMANIA VS CHILE </li>
            </b-col>
            </b-col>



            <b-col cols="4">

                <div align="center">
            
                <label for="nombre">Liga: </label>
                <b-form-select v-model="selected" :options="options" size="lg"></b-form-select>
                <p></p>

                <label for="nombre1">Equipo: </label>
                <b-form-select v-model="selected" :options="options" size="lg"></b-form-select>
                <p></p>

                <label for="nombre2">Fecha: </label>
                <b-form-select v-model="selected" :options="options" size="lg"></b-form-select>
                <p></p>

                <p><br></p>
                <div align="center "> <b-button type="submit" variant="primary" @click="retirar"> Buscar </b-button> </div>
                <p><br><br><br></p>
                
                <iframe width="460" height="315" src="https://www.youtube.com/embed/kggf81z4nDY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
            </div>
            </b-col>



            <b-col cols="4">
                <div align= "right ">
                <li>Argentina VS Chile   </li>
                <p></p>
                <b-button v-b-modal.modal-1> Apostar</b-button>
                <br>
                <p><br></p>

                <li>Colombia VS Italia   </li>
                <p></p>
                <b-button v-b-modal.modal-1> Apostar</b-button>
                <br>
                <p><br></p>
                <li>Ecuador VS Peru   </li>
                <p></p>
                <b-button v-b-modal.modal-1> Apostar</b-button>
                <br>
                
                <b-modal id="modal-1" title="Apuesta" hide-footer>
            
                    <b-col sm="3">
                        <label for="nombre">RESULTADO FINAL: </label>
                        
                    </b-col>

                <b-col sm="9">
                    <b-form-radio v-model="selected" name="some-radios" value="1">1-0</b-form-radio>
                        <b-form-radio v-model="selected" name="some-radios" value="1">1-1</b-form-radio>
                        <b-form-radio v-model="selected" name="some-radios" value="1">1-2</b-form-radio>
                        <b-form-radio v-model="selected" name="some-radios" value="1">3-1</b-form-radio>
                </b-col>


                <b-col sm="3">
                    <br>
                        <label for="nombre">Suma de Goles: </label>
                        
                    </b-col>

                <b-col sm="9">
                    <b-form-radio v-model="selected" name="some-radios" value="1">1</b-form-radio>
                        <b-form-radio v-model="selected" name="some-radios" value="1">2</b-form-radio>
                        <b-form-radio v-model="selected" name="some-radios" value="1">3</b-form-radio>
                        <b-form-radio v-model="selected" name="some-radios" value="1">4+</b-form-radio>
                </b-col>


                <b-col sm="3">
                    <br>
                        <label for="nombre">Ganador </label>
                        
                    </b-col>

                <b-col sm="9">
                    <b-form-radio v-model="selected" name="some-radios" value="1">LOCAL</b-form-radio>
                        <b-form-radio v-model="selected" name="some-radios" value="1">VISITA</b-form-radio>
                        <b-form-radio v-model="selected" name="some-radios" value="1">EMPATE</b-form-radio>
                </b-col>
                
            <div align="center "> <b-button type="submit" variant="primary" @click="aceptar"> Aceptar </b-button> </div>
        </b-modal>
                <p></p>
            </div>
            </b-col>
            
        </b-row>
    </b-container>
</div>


</template>

<script>

export default {
    name: 'Principal',
    props: {
    },
    data(){
        return{
            value: '',
            context: null
        }
},
    methods:{
        aceptar() {
        }
    }
}
</script>