<template>
    <div id="retirar" class="mt-5">
        
                <h1>RETIRAR</h1>
                <h3>EN CONSTRUCCION</h3>

        <br>
        <p></p>
        <label for="nombre">Monto: </label>

        <b-form-select v-model="selected" :options="options"></b-form-select>
        <p></p>

        <b-form-checkbox id="checkbox-1" v-model="status" name="checkbox-1" value="aceptado" unchecked-value="noaceptado">
            Acepta los términos y condiciones de BET WIN CHILE
        </b-form-checkbox>
        
        <div align="center "> <b-button type="submit" variant="primary" @click="retirar"> Retirar </b-button> </div>
    
    </div>
    

</template>

<script>

export default {
    name: 'Retirar',
    props: {
    },
    data(){
        return{
            status:'noaceptado',
            selected: '',

            options: [
        { value: '1', text: '$1.500' },
        { value: '2', text: '$2.500' },
            ],
        }
    },
    methods:{
        retirar(){
            var opcion1;
            
            if(this.status=='aceptado' && this.selected=='1' || this.selected=='2'){
                opcion1 = confirm("Monto retirado exitosamente");
                this.status = 'noaceptado'
                this.selected = ''
            }else{
                opcion2 = alert("INTENTE NUEVAMENTE")
            }
        }
    }
}
</script>