<template>
  <div id="app" class="homi">
    <b-navbar toggleable="md" type="dark" variant="dark">
      <b-container>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-navbar-brand href="/">  WIN CHILE</b-navbar-brand>


        <b-collapse is-nav id="nav-collapse">

          <b-navbar-nav>
            <b-nav-item :to="{name: 'Principal'}" >Home</b-nav-item>
            <b-nav-item :to="{name: 'MiCuenta'}">Mi Cuenta</b-nav-item>
            <b-nav-item :to="{name: 'Abono'}">Abonar</b-nav-item>
            <b-nav-item :to="{name: 'Retirar'}">Retirar</b-nav-item>
          </b-navbar-nav>
          
        </b-collapse>


      </b-container>
    </b-navbar>
    


    <b-container>
      <router-view/>
    </b-container>


  </div>

  
</template>
